/* this code is taken from uiverse for refernce with minimal changes haha */
body {
  margin: 0;
  height: 100vh;
  background: #605129;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}
.hidden {
    display: none;
}


.container {
  text-align: center;
}

#count{
  font-size: 80px;
  color: white;
  margin-bottom: 40px;
}
#date{
  font-size: 80px;
  color: white;
  margin-bottom: 40px;
}


.button {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.button button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  position: relative;
  padding: 12px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}


.button button::before,
.button button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button button::before {
  top: 0;
  border-bottom: 0;
}

.button button::after {
  bottom: 0;
  border-top: 0;
}

.button button:active::before,
.button button:active::after {
  right: 3px;
  left: 3px;
}

.button button:active::before {
  top: 3px;
}

.button button:active::after {
  bottom: 3px;
}

.button button:hover {
  background: #ff4655;
  color: black;
  transform: translateY(-2px);
}

.button button:focus {
  outline: none;
}
